body {
    background-color: #eeeeee;
}

p {
    font-size: 200%;
    color: #343A40;
    margin: auto;
}

p1 {
    font-size: 400%;
}

h {
    font-size: 250%;
}

button {
    font-size: 200%;
    border-radius: 10px;
}

.affichage {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin: 0 auto;
    	width: 20em; */
    padding: 2%;
    border: 1px solid;
    border-radius: 1em;
    background-color: #dee2e6;
    height: 100%;
}


/* #authorize_button {
    border-radius: 20px;
    height: 25px;
    margin-top: 30px;
}

#signout_button {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 25px;
    width: 130px;
} */

button:hover {
    background-color: #868e96;
}

.liste {
    /* display: flex;
    flex-direction: column; */
    border: solid 1px;
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    /* height: 200px; */
    padding: 2%;
    margin-bottom: 2%;
}

.Liste h {
    font-weight: bold;
}

.listeRetour {
    display: flex;
    background-color: #eeeeee;
    border: solid 1px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 330px;*/
}

.mission {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.retour {
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    /* width: 60px; */
    background-color: #f03e3e;
    padding: 5%;
}

.arrive {
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #82c91e;
    height: 30rem;
}

.part {
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    background-color: #fab005;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.listBtn {
    margin: 10px;
}